h1 {
  line-height: 0.1em;
  color: black;
}

.header {
  background-color: white;
  font-family: 'Noto Sans Mono', monospace;
  padding: 10px;
  text-align: center;
  font-size: 35px;
}

.center {
  padding: -10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

.create {
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

.selected-note {
  padding: 30px;
  text-align: center;
  font-size: 35px;
  font-family: 'Noto Sans Mono', monospace;
}

a:nth-child(odd) {
  word-wrap: break-word;
  font-family: 'Noto Sans Mono', monospace;
  text-decoration: none;
  color: #000;
  background:#CFF7F3;
  display: inline-block;
  height: 5em;
  width: 5em;
  padding: 1em;
  box-shadow: 2px 2px 4px rgba(33, 33, 33, 0.7);
  transform: rotate(-6deg);
  transition: transform 0.15s linear;
  font-size: 2rem;
}

a:nth-child(even) {
  word-wrap: break-word;
  font-family: 'Noto Sans Mono', monospace;
  text-decoration: none;
  color: #000;
  background: #FFFF00;
  display: inline-block;
  height: 5em;
  width: 5em;
  padding: 1em;
  box-shadow: 2px 2px 4px rgba(33, 33, 33, 0.7);
  transform: rotate(6deg);
  transition: transform 0.15s linear;
  position: relative;
  top: 5px;
  font-size: 2rem;
}

a:nth-child(3n) {
  word-wrap: break-word;
  font-family: 'Noto Sans Mono', monospace;
  text-decoration: none;
  color: #000;
  background: #F0FFF0;
  display: inline-block;
  height: 5em;
  width: 5em;
  padding: 1em;
  box-shadow: 2px 2px 4px rgba(33, 33, 33, 0.7);
  transform: rotate(-3deg);
  transition: transform 0.15s linear;
  position: relative;
  top: -5px;
  font-size: 2rem;
}

input {
  color: black !important;
  font-family: 'Noto Sans Mono', monospace;
  font-weight: bold;
  text-decoration: none;
  background: #CFF7F3;
  padding: 10px;
  border-radius: 50px;
  display: inline-block;
  border: 2px solid #ccc;
  transition: all 0.4s ease 0s;
}

textarea {
  width: 27%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}